#pet-fixo {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 150px;
  z-index: 1000;
  display: none;
}

#pet-fixo img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}


@keyframes voarParaCanto {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(calc(100vw - 170px), -20px) scale(0.6);
    opacity: 0.8;
  }
}

